.profile-page {
  text-align: center;
  margin-top: 20px;
  .example-card {
    margin: auto;
    max-width: 400px;
  }
  .example-header-image {
    background-image: url('https://www.eternitynews.com.au/wp-content/uploads/2017/10/albert-einstein1_1000x563_acf_cropped.jpg');
    background-size: cover;
  }
}
