<div class="profile-page">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.firstname}}</mat-card-title>
      <mat-card-subtitle>{{user.lastname}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.image" alt="Photo of a {{user.firstname}}">
    <mat-card-content>
      <p>
          Balance: {{user.balance}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/stats">Stats</button>
      <button mat-button routerLink="/reports">Reports</button>
    </mat-card-actions>
  </mat-card>
</div>
