<div class="info-modal">
  <div class="header block">
    {{data?.title | titlecase}}
  </div>
  <div class="icon block">
    <mat-icon>info</mat-icon>
  </div>
  <div class="body block">
      <mat-dialog-content>{{data?.message}}</mat-dialog-content>
  </div>
  <div class="action block">
      <button mat-button [mat-dialog-close]="true">Got it.</button>
  </div>
</div>
