<div class="error-modal">
    <div class="header block icon">
      <mat-icon>warning</mat-icon>
    </div>
    <div class="body block">
      <mat-dialog-content>{{data?.message}}</mat-dialog-content>
    </div>
    <div class="action block">
        <button mat-button [mat-dialog-close]="true">Got it.</button>
    </div>
  </div>
