.error-modal {
  text-align: center;
  .icon {
    color: red;
    font-size: 20px;
  }
  .block {
    padding: 10px;
    margin-bottom: 30px;
  }
  .header {

  }
  .body {

  }
  .action {
    position: relative;
    bottom: 0;
  }
}
