<mat-toolbar color="primary" class="header-component">
  <span class="name">{{user?.firstname}} {{user?.lastname}}</span>
  <span class="example-fill-remaining-space"></span>
  <span class="balance">{{user?.balance}}</span>
</mat-toolbar>
