<div class="edit-modal">
  <div class="header">
    <mat-toolbar>
      <h4>{{view?.title | titlecase}}</h4>
    </mat-toolbar>
  </div>
  <form [formGroup]="editForm" layout="row" class="content" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" disabled="true">
      <input matInput type="text" formControlName="id" placeholder="{{ 'id' | titlecase }}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" required formControlName="name" placeholder="{{ 'name' | titlecase }}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput required type="number" formControlName="amount" placeholder="{{ 'amount' | titlecase}}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="{{ 'category' | titlecase }}" required formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category?.value | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.dirty || !editForm.valid">
      Submit
    </button>
  </form>
</div>
