<div class="table-component">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
          <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
          <td mat-cell *matCellDef="let element">
            {{element[col]}}
            <span *ngIf="col == 'edit'" [ngSwitch]="element?.category" (click)="edit(element)">
              <mat-icon *ngSwitchCase="'food'">
                fastfood
              </mat-icon>
              <mat-icon *ngSwitchCase="'car'">
                  local_car_wash
              </mat-icon>
              <mat-icon *ngSwitchDefault>
                home
              </mat-icon>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="display"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>
